@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fonts */

  @font-face {
    font-family: 'qigong';
    src: url('../public/fonts/qigong_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'futura-pt';
    src: url('../public/fonts/FuturaPTLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  html {
    @apply font-body bg-black text-white;
  }

  .perspective-800 {
    perspective: 800px;
  }

  .hero-heading {
    filter: url('#wavy');
    line-height: 200px;
    text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
  }

  @media (min-width: 768px) {
    .hero-heading {
      text-shadow: 20px 20px 20px rgba(255, 255, 255, 0.3);
    }
  }

  /* Imprint styles */

  .imprint {
    @apply relative max-w-2xl mx-auto my-20;
  }

  .imprint p {
    margin-bottom: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
  }

  .imprint strong {
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: rgba(255, 255, 255, 1);
  }

  .imprint a {
    color: rgb(104, 127, 255);
  }
}
